@keyframes moveWave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-8.5px); 
    }
}

#wave {
    animation: moveWave 2s linear infinite;
}

.html{
    background-color: #111827 !important;
}
