@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  background-color: #111827 !important;
}

.custom-radio-group > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

